<footer>
    <div class="info">
    	<span>Powered By <a href="https://hexo.io/" target="blank">Hexo</a>
    	</span>&nbsp;&nbsp;&nbsp;&nbsp;
    	<span>Theme by <a href="https://github.com/littleiq" target="blank"><%= theme.author %></a>
    	</span>
    </div>
</footer>